<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/multi_process/src/books/concurrency_core/chap3/produce_consumer/Run.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="books.concurrency_core.chap3.produce_consumer.Run"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="multi_process"/>
</launchConfiguration>
