<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/code_dxf/xuefgit/Files_01_xuef/all_xuef/eclipseWorkSpace_xuef201803/ssm_crud"/>
</launchConfiguration>
