<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/simple-nav :: nav}">
</head>

<link href="../../css/custom/blog-article-display.css" th:href="@{/css/custom/blog-article-display.css}" rel="stylesheet">
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
                                <!--用户主页链接-->
			                  <a href="/space/xuef1991" title="xuef1991" th:href="'/space/' + ${user.username}"
                                 th:title="${user.username}">
                                  <!--用户头像-->
                                  <!--
			                    <img src="/images/avatar-defualt.jpg"
                                     th:src="${user.avatar} == null ? '/images/avatar-defualt.jpg' : ${user.avatar}"
                                     class="blog-avatar-50">
                                     -->
			                  </a>
					        </span>
                            <!--博文标题行-->
                            <a href="/space/xuef1991/blogs/1" class="card-link" title="..."
                                th:href="'/space/' + ${user.username} + '/blogs/'+ ${blogModel.id}"
                               th:title="${user.username}" th:text="${blogModel.title}">
                                解决问题的几种模式...
                            </a>
                    </h2>
                    <div class="card-text">
                        <a href="/space/xuef1991" th:href="'/space/' + ${user.username}" class="card-link"
                           th:text="${user.username}" >anonymous</a> 发表于 [[${#dates.format(blogModel.createTime, 'yyyy-MM-dd HH:mm')}]]
                        	<i class="fa fa-eye" aria-hidden="true">[[${blogModel.readSize}]]</i>
		                    <i class="fa fa-heart-o" aria-hidden="true">[[${blogModel.voteSize}]]</i> 
		                    <i class="fa fa-comment-o" aria-hidden="true">[[${blogModel.commentSize}]]</i>
                        <!--如果访问者是博文所有者，则提供编辑和删除入口。当然，后端还是要验证用户身份的-->

                         <a href="/space/xuef1991" th:if="${isBlogOwner}"
                            th:href="'/space/' + ${user.username}+ '/blogs/edit/'+ ${blogModel.id}"
                            class="btn btn-info float-center btn-sm blog-edit-blog">
                             <i class="icon-edit"> edit</i>
                         </a>
                         <a href="javascript:void(0)" th:if="${isBlogOwner}" class="btn btn-warning btn-sm float-right blog-delete-blog">
                             <i class="icon-trash"></i> Del
                         </a>
                    </div>
                    <hr>
                    <article class="post-content" th:utext="${blogModel.htmlContent}">
                       
                	</article>
                    <hr>
                </div>
                <div class="card-block">

                    <h5>分类：<a th:href="'/space/'+${user.username} + '/blogs?catalog='+${blogModel.catalog.id} "
                              th:text="${blogModel.catalog.name}">
                        Spring Data
                    </a></h5>

                    <h5 >标签：
                        <a th:each="tag : ${#strings.arraySplit(blogModel.tags , ',')}"
                           th:href="'/space/' + ${user.username}  + '/blogs?keyword='+ ${tag}">
                            <span class="badge badge-default" th:text="${tag}">Linux</span>
                        </a>
                    </h5>
                </div>

                <div class="card-block">
                    <h5>评论：</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea class="blog-textarea" placeholder="discuss~" id="commentContent"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm float-right" id="submitComment">Comment</button>
                    &nbsp;&nbsp;
					<button class="btn btn-primary btn-sm float-right" th:if="${currentVote} == null" id="submitVote">Like</button>
                    &nbsp;&nbsp;
					<button class="btn btn-primary btn-sm float-right" th:if="${currentVote}" th:attr="voteId=${currentVote.id}"
                            id="cancelVote">dis like</button>
                </div>
                <div class="card-block" id="mainContainer">
                    <div class="row" id="mainContainerRepleace" th:each="comment,commentStat : ${comments}" th:object="${comment}">
                        <h2 class="card-title col-lg-1 col-md-2">
							<span>
			                  <a href="/space/xuef1991" th:href="'/space/'+ *{user.username}" title="xuef1991" th:title="*{user.username}">
			                    <img src="/images/avatar-defualt.jpg"
                                     th:src="*{user.avatar} == null ? '/images/avatar-defualt.jpg' : *{user.avatar}" class="blog-avatar-50">
			                  </a>
					        </span>
                        </h2>
                        <div class="card-text col-lg-11 col-md-10">
                            <a href="/space/xuef1991" th:href="'/space/'+ *{user.username}" class="card-link" th:text="*{user.username}">xuef1991</a>
                            [[${commentStat.index} + 1]]楼  [[${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}]]
                            <a href="javascript:void(0)" class="blog-delete-comment" th:if="${commentOwner} eq *{user.username}"
                               th:attr="commentId=*{id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <p th:text="*{content}">~~~</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div id="blog-article">
                <!-- 文章目录 -->
                <div class="card table-of-contents">
                    <h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i>目录</h5>
                    <div class="card-block">
                        <div class="row">
                            <div id="catalog" class="col-lg-12"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>

<!-- JavaScript -->
<script th:inline="javascript">
    $(function () {
        $("#tobeAdded").addClass("active");
    });
var blogId = [[${blogModel.id}]];
var blogUrl = '/space/' + [[${user.username}]] + '/blogs/'+ [[${blogModel.id}]] ;
</script>
<script src="../../js/userspace/blog.js" th:src="@{/js/userspace/blog.js}"></script>
</body>
</html>