<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:web="http://java.sun.com/xml/ns/javaee" 
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>lookoverAllBooksServlet</servlet-name>
    <servlet-class>com.xuef2018.bookstore.servlet.LookoverAllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lookoverAllBooksServlet</servlet-name>
    <url-pattern>/lookoverAllBooksServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.xuef2018.bookstore.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  
</web-app>